body {
    background-color: black;
}

#mainNavbar {
    /* background-color: black; */
    font-family: 'Merriweather Sans', sans-serif;
}

#mainNavbar .nav-link {
    color: #CCCCCC
}


#mainNavbar .nav-link:hover {
    color: white
}


#frontpic {
    width: 100%;
    height:auto
}

.centeredtext {
    position : absolute;
    top : 50%;
    left : 50%;
    font-size: 2rem;
    transform: translate(-40%, -50%);
    color: white;
}

.centeredtext p{
    text-align: center;
    font-family:'Indie Flower', cursive;
    
    color: rgb(255,256,256,0.9);

}

.normal{

    font-size: 2rem;
    position : absolute;
    top : 60%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.smaller{

    font-size: 1.5rem;
    top : 60%;
    left : 50%;
    transform: translate(-50%, -50%);
    
}

.smallest{

    font-size: 0.8rem;
    top : 60%;
    left : 50%;
    transform: translate(-50%, -50%);
    
}

#knowmore {
    color: orange;
    border-color: orange;
    width :auto;
    font-size: 1rem;
} 

#knowmore:hover{
    color: orange;
    background-color: rgb(255,165,00,0.2);
}

#knowmore2 {
    color: rgb(214,160,132);
    border-color:rgb(214,160,132);
    width :auto;
    font-size: 1rem;
} 

#knowmore2:hover{
    color: rgb(214,160,132);;
    background-color: rgb(214,160,132,0.2);
}


#knowmore3 {
    color :#20FF20;
    border-color:green;
    width :auto;
    font-size: 1rem;
} 

#knowmore3:hover{
    color: #20FF20;
    background-color:rgb(0,200,30,0.2);
}


.dropdown-menu{
background-color:rgb(100,100,100,0.1);
}



.dropdown-item{
    color: blanchedalmond;
}




#frontpic3{
    width:100%;
    height: ;
}



.jumbotron1 {
    background-color: grey;
    color: honeydew;
}